$mainColorBackground:#cacaccb7;
$navColor:#d61939;
$hoverMenuItem:#5b6663;
$navColorFont:#f1f2f1;
$hoverFont: #9c9ca0de;
$logocolor1:#9ce499fb;
$logocolor2:#503c3cfb;
$homeColorFont:#351f03;
$spanFont:#3b3535d7;
$btn-more:#6b5e44d3;